/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

/*** Sections ***/
body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */
.navbar-wrapper {
    position: fixed;
    width: 100vw;
    background-color: rgb(44, 62, 80);
}

.navbar-wrapper > nav {
    display: flex;
    margin: 0% 7%;
}

.navbar-wrapper p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-wrapper p:hover {
    cursor: pointer;
}

.navbar-items-list {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

.navbar-item {
    list-style: none;
    padding: 2%;
}

.navbar-item:hover {
    cursor: pointer;
    color: rgb(26, 188, 156);
}

/* Hero */
.hero-wrapper {
    background-color: rgb(26, 188, 156);
    height: 100vh;
    padding-top: 30vh !important;
    padding-bottom: 15vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper > div {
    margin: 10px 0px;
}

.hero-img-wrapper {
    width: 240px;
    height: 240px;
}



/* Utilities */
.white-text {
    color: white;
}

.bold-text {
    font-weight: 700 !important;
}

.xlarge-text {
    font-size: 40px;
}

.large-text {
    font-size: 24px;
}

.meduim-text {
    font-size: 16px;
    font-weight: lighter !important;
}

.container {
    padding: 15px 20px;
}

.white-divider {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-divider-line {
    background-color: white;
    height: 5px;
    width: 150px;
    margin: 0% 3%;
    border-radius: 3px;
}

.material-symbols-rounded {
    zoom: 200%;
}