/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    height: 100%;
}

/*** Sections ***/
body {
    font-family: 'Roboto', sans-serif;
}

/* Navigation bar */
.navbar-wrapper {
    position: fixed;
    width: 100vw;
    background-color: rgb(44, 62, 80);
}

.navbar-wrapper > nav {
    display: flex;
    margin: 0% 7%;
}

.navbar-wrapper p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-wrapper p:hover {
    cursor: pointer;
}

.navbar-items-list {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

.navbar-item {
    list-style: none;
    padding: 2%;
}

.navbar-item:hover {
    cursor: pointer;
    color: rgb(26, 188, 156);
}

/* Hero */
.hero-wrapper {
    background-color: rgb(26, 188, 156);
    height: 100vh;
    padding-top: 30vh !important;
    padding-bottom: 15vh !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-wrapper > div {
    margin: 10px 0px;
}

.hero-img-wrapper {
    width: 240px;
    height: 240px;
}

/* Portfolio */
.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    margin: 40px 20px;
}

.portfolio-wrapper h1 {
    text-align: center;
}

.portfolio-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1% 3%;
}

.card {
    width: 33.33%;
    margin-bottom: 3%;
    padding: 20px;
}

.card > img {
    width: 100%;
    border-radius: 15px;
}

.card:hover {
    cursor: pointer;
}

/* About */
.about-wrapper {
    background-color: rgb(26, 188, 156);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-wrapper h1 {
    text-align: center;
}

.about-discription {
    display: flex;
    justify-content: center;
    margin: 5% 20%;
}

.about-discription > p {
    width: 50%;
    padding: 0% 1%;
}

.download {
    display: flex;
    justify-content: center;
}

.download > button {
    padding: 1% 5%;
    background-color: inherit;
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(255, 255, 255,0.5);
}

.download > button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
}

/* Utilities */
.white-text {
    color: white;
}

.dark-text {
    color: rgb(44, 62, 80);
}

.bold-text {
    font-weight: 700 !important;
}

.semi-bold-text {
    font-weight: 600 !important;
}

.xlarge-text {
    font-size: 40px;
}

.large-text {
    font-size: 24px;
}

.meduim-text {
    font-size: 20px;
    font-weight: lighter !important;
}

.container {
    padding: 15px 20px;
}

.white-divider {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-divider-line {
    background-color: white;
    height: 5px;
    width: 150px;
    margin: 0% 3%;
    border-radius: 3px;
}

.dark-divider {
    color: rgb(44, 62, 80);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-divider-line {
    background-color: rgb(44, 62, 80);
    height: 5px;
    width: 150px;
    margin: 2% 3%;
    border-radius: 3px;
}

.material-symbols-rounded {
    zoom: 200%;
}